@import '~bootstrap/scss/bootstrap';

// CSS homepage *********************************************************************************

body{
    background-color: antiquewhite;
}

.homepage_title{
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}